@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@import org.webjars.play.WebJarsUtil

@(userForm: Form[CreateUserForm])(implicit request:RequestHeader, messages: Messages, assets: AssetsFinder, webJarsUtil: WebJarsUtil)

@import helper._
@import b3.inline.fieldConstructor

@main(messages("app.welcome")) {
	<script type='text/javascript' src='@assets.path("javascripts/index.js")'></script>

  <div class="row">
  	<ul id="users"></ul>

    @form(action = routes.UserController.addUser()) {
        @CSRF.formField 
        @b3.text(userForm("name"), 'placeholder -> messages("userForm.name"), 'class -> "form-control input-lg")
        @b3.text(userForm("username"), 'placeholder -> messages("userForm.username"), 'class -> "form-control input-lg")
        @b3.text(userForm("email"), 'placeholder -> messages("userForm.email"), 'class -> "form-control input-lg")
        @b3.text(userForm("password"), 'placeholder -> messages("userForm.password"), 'class -> "form-control input-lg")
        @b3.submit('class -> "btn btn-info"){ @messages("userForm.add") }
    }
    
  </div>
}
