@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@import org.webjars.play.WebJarsUtil
@import business.adt.SignUpData

@(signUpForm: Form[SignUpData])(implicit request:RequestHeader, messages: Messages, assets: AssetsFinder, webJarsUtil: WebJarsUtil)

@import helper._
@import b3.inline.fieldConstructor

@main(messages("app.welcome")) {
	<script type='text/javascript' src='@assets.path("javascripts/index.js")'></script>

  <div class="row">
  	<ul id="users"></ul>

    @form(action = routes.UserController.addUser()) {
        @CSRF.formField 
        @b3.text(signUpForm("name"), 'placeholder -> messages("signUpForm.name"), 'class -> "form-control input-lg")
        @b3.text(signUpForm("username"), 'placeholder -> messages("signUpForm.username"), 'class -> "form-control input-lg")
        @b3.text(signUpForm("email"), 'placeholder -> messages("signUpForm.email"), 'class -> "form-control input-lg")
        @b3.text(signUpForm("password"), 'placeholder -> messages("signUpForm.password"), 'class -> "form-control input-lg")
        @b3.submit('class -> "btn btn-info"){ @messages("signUpForm.add") }
    }
    
  </div>
}
